.pageViewContent {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  box-sizing: border-box;
  position: relative;
  background-color: white;
}

.boxContainer {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contentContainer {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.003px;
  max-width: 1500px;
  opacity: 1;
  transition: opacity 0.15s ease;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  margin: 32px 32px 0;
}

.contentContainer.custom {
  padding-top: 70px;
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.gradientBox {
  background: linear-gradient(45deg, #323031, #3d3b3c);
  display: inline-flex;
  vertical-align: top;
  width: calc(50% - 10px);
  position: relative;
  justify-content: space-between;
  margin: 0px 20px 20px 0;
  height: 200px;
  border-radius: 0px;
  color: var(--color-text-ondesign, #fff)!important;
  overflow: hidden;
  cursor: default;
}

.gradientBox2 {
  background: linear-gradient(45deg, #3d3b3c, #7F7979);
  margin-right: 0;
  display: inline-flex;
  vertical-align: top;
  width: calc(50% - 10px);
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  justify-content: space-between;
  height: 200px;
  border-radius: 0px;
  color: var(--color-text-ondesign, #fff)!important;
  overflow: hidden;
  cursor: default;
}

.gradientBox3 {
  background: linear-gradient(45deg, #3d3b3c, #7F7979);
  margin-right: 0;
  display: inline-flex;
  vertical-align: top;
  width: calc(50% - 10px);
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  justify-content: space-between;
  height: 200px;
  border-radius: 0px;
  color: var(--color-text-ondesign, #fff)!important;
  overflow: hidden;
  cursor: default;
  margin-left: 20px;
}

.gradientBoxLeftSide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 32px;
  font-weight: 500;
  z-index: 1;
}

.gradientBoxLeftSideTextSmall {
  color: rgba(255, 255, 255, .6);
}

.gradientBoxLeftSideTextBig {
  font-size: 1.8em;
  line-height: 32px;
  letter-spacing: calc(-.019px + 0*24px);
}

@media only screen and (max-width: 1040px) {
  .gradientBox, .gradientBox2, .gradientBox3 {
    //display: flex;
    //vertical-align: top;
    width: 100%;
    height: 250px;
    margin: 20px 0;
  }

  //.contentContainer {
  //  flex-direction: column;
  //}
}

.subheaderText {
  font-weight: 600;
  margin-bottom: 20px;
  cursor: default;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: calc(-.018px + var(--text-tracking-pos, 0)*22px);
}

.headerTitle {
  display: block;
  font-weight: 600;
  margin-bottom: 20px;
  cursor: default;
  font-size: 52px;
  line-height: 60px;
  letter-spacing: calc(-.018px + var(--text-tracking-pos, 0)*22px);
}

.headerTitle2 {
  display: block;
  font-weight: 600;
  margin-bottom: 20px;
  cursor: default;
  font-size: 52px;
  width: 400px;
  padding-right: 90px;
  line-height: 60px;
  letter-spacing: calc(-.018px + var(--text-tracking-pos, 0)*22px);
}

.seeAllLink {
  float: right;
  color: #0d99ff !important;
  margin-top: 4px;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: calc(-.003px + 0*13px);
}

.capitalizedSubText {
  font-size: 0.7rem;
  font-feature-settings: "zero";
  font-variant-numeric: slashed-zero;
  letter-spacing: 0.05em;
  line-height: 0.05em;
  text-transform: uppercase;
  color: #767676;
  margin-top: 50px;
  margin-bottom: 12px;
}

.capitalizedSubText2 {
  font-size: 0.7rem;
  font-feature-settings: "zero";
  font-variant-numeric: slashed-zero;
  letter-spacing: 0.05em;
  line-height: 0.05em;
  text-transform: uppercase;
  color: #767676;
  margin-top: 30px;
  margin-bottom: 12px;
}

div.scrollableDiv {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.AppHeader {
  height: 180px;
  position: -webkit-sticky;
  position: sticky;
  top: 92px;
  background-color: var(--color-bg, #fff);
  box-sizing: border-box;
  width: 100%;
  display: flex;
  z-index: 2;
}

.AppHeaderContent {
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg, #fff);
  overflow: unset!important;
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: calc(-.006px + var(--text-tracking-pos, 0)*14px);
}

.AppHeaderLeft {
  overflow: hidden;
}

.AppHeaderRight {
  display: flex;
  align-items: flex-start;
  width: 300px;
  flex: 0 0 auto;
  margin-left: 32px;
  justify-content: flex-end;
}

.AppHeaderRightButtonContainer {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.AppHeaderRightButton {
  background-color: var(--color-bg-design, #0d99ff);
  color: var(--color-text-ondesign, #fff);
  font-weight: 600;
  height: 40px;
  border-radius: 6px;
  box-sizing: border-box;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: calc(-.006px + var(--text-tracking-pos, 0)*14px);
  -webkit-font-smoothing: antialiased;
  padding: 22px;
}

.AppHeaderLeftTitle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  grid-gap: 10px;
  gap: 10px;
  transition: all .2s ease;
  color: var(--color-text, rgba(0, 0, 0, .8));
  line-height: 30px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
  letter-spacing: calc(-.019px + var(--text-tracking-pos, 0)*24px);
  padding-bottom: 10px;
}

.AppHeaderLeftSubTitle {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.AppHeaderLeftSubTitleDescription {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AppHeaderMobile {
  display: none;
  grid-gap: 5px;
  gap: 5px;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 32px;
  max-width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 19px;
}

.AppHeaderButtonMobile {
  margin-top: 30px;
  margin-bottom: 30px;
}

.iconButton {
  margin-left: 12px;
}

.imageCover {
  margin-bottom: 32px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 0;
  padding-bottom: min(50%,544px);
  overflow: hidden;
}

.imageCover img {
  width: 100%;
}

.AppDetailsContainer {
  padding: 32px 32px 48px;
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  overflow-x: hidden;
}

.metadataContainer {
  display: flex;
  justify-content: space-between;
  min-width: 0;
}

.metadataContainerLeft {
  max-width: 688px;
  padding-right: 48px;
  box-sizing: border-box;
  flex: 1 1 auto;
  order: 1;
}

.metadataContainerRight {
  width: 224px;
  flex: 0 0 auto;
  order: 2;
}

.metadataContainerRightSection {
  margin-bottom: 32px;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: calc(-.003px + var(--text-tracking-pos, 0)*13px);
  white-space: pre-wrap;
}

.metadataContainerLeftVersion {
  margin-bottom: 20px;
  margin-top: 0px;
}

.metadataLeftVersion {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.metadataLeftTitle {
  color: #000;
  height: 24px;
  line-height: 24px;
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
}

.metadataLeftSubTitle {
  line-height: 24px;
  color: #b3b3b3;
}


@media (max-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (max-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (max-width:641px)  {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (max-width:961px)  {
  .AppHeader {
    display: none;
  }
  .AppHeaderMobile {
    display: flex;
  }

  .metadataContainerLeft {
    padding: 0;
    max-width: 100%;
  }
  .metadataContainerRight {
    width: 100%;
  }

  .metadataContainer {
    order: 3;
    display: initial;
    padding: 32px 32px 0;
  }

  .AppDetailsContainer {
    padding: 0;
  }

  /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (max-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (max-width:1281px) { /* hi-res laptops and desktops */ }