$breakpoint-mobile: 900px;
$breakpoint-mobile_small_height: 500px;

// Layout

.container {
  background: #FFFFFF;
  background-size: 100%;
  height: 100vh;
  display:flex;
  margin:0;
  width: 100%;
  flex-direction:column;
}

.layout {
  height: 100vh;
}

.parallax {
  position: relative !important;
  background-color: #000000;
}

.background {
  position: relative;
  width: fit-content;
  margin: auto;
  height: fit-content;
  z-index: 1;
}

// Sidebar
.logo {
  width: 200px;
  font-family: "Sweet Sans Pro", system-ui;
  font-size: 30px;
  font-weight: bold;
  padding-right: 15%;
  color: #FFFFFF;
}

.navbar {
  padding: 30px 50px;
  position: relative;
  display: flex;
  background-color: #000000;
  z-index: 3;
  width: 70%;
  margin: auto;
}

.navbarDesktop {
  display: flex;
  width: 100%;
}

.navbarDesktopComponent {
  color: #FFFFFF;
  padding-right: 40px;
}

.navbarDesktopComponentsRight {
  color: #FFFFFF;
  padding-right: 40px;
  margin-left: auto;
  display: flex;
}

.navbarDesktopComponent a {
  color: #FFFFFF;
}

// First block

.title {
  font-weight: normal;
  font-size: 5rem;
  line-height: 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #FFFFFF;
  height: auto;
  padding-bottom: 10px;
  padding-top: 0px;
  width: fit-content;
}

.subTitle {
  font-weight: 300;
  font-size: 3rem;
  -webkit-background-clip: text;
  margin-top: 20px;
  padding-top: 10px;
  width: fit-content;
  padding-bottom: 30px;
  -webkit-text-fill-color: #cfd6e6;
  height: auto;
  line-height: 3rem;
}

.description {
  color: #FFFFFF;
  font-size: 18px;
}

.parallaxText {
  height: 500px !important;
  padding: 60px;
}

// Second block
.comingSoon {
  color: #FFFFFF;
  font-size: 15px;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.parallaxImage {
  height: 700px !important;
}

.backgroundImage2 {
  width: 120%;
}

// Third block
.parallaxComing {
  transform: translate3d(0px, 800px, 0px) !important;
}

// Footer
.footer {
  border-top: 1px solid rgb(255 255 255/0.1);
  border-bottom: 1px solid rgb(255 255 255/0.1);
  background-color: #0a0a0a;
  padding-top: 6rem;
  color: #FFFFFF;
}

.footerGrid {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.copyright {
  background-color: #000000;
  color: #FFFFFF;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: fit-content;
}

.copyrightRow {
  flex-direction: row;
  justify-content: space-between !important;
  display: flex;
}

.termsOfUse {
  margin-left: auto;
}


// Mobile
@media(max-width: $breakpoint-mobile) {

  @media screen and ( max-height: $breakpoint-mobile_small_height ){
    .parallaxImage {
      transform: translate3d(0px, 450px, 0px) !important;
    }
    .parallax {
      height: 900px !important;
    }
  }

  .navbarMobile {
    margin-left: auto;
    display: inline;
    color: white;/**/
  }

  .navbarDesktop {
    display: none;
  }

  .parallaxText {
    height: 500px !important;
    padding: 60px;
  }

  .parallaxImage {
    height: 500px !important;
  }

  .backgroundImage2 {
    width: 120%;
  }

  .copyright {
    background-color: #000000;
    color: #FFFFFF;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: -webkit-fit-content;
    height: fit-content;
    position: relative;
    bottom: 0px;
    width: -webkit-fill-available;
  }

  .navbar {
    width: 90% !important;
  }

  .footerGrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .parallaxComing {
    transform: translate3d(0px, 600px, 0px) !important;
  }
}
