/*
    Typography
 */

.LargeTitle {
    font-family: "Inter";
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
    text-transform: none;
    font-weight: 600;
    color: #171717;
}

/*
    General
*/

.container {
    background: #FFFFFF;
    background-size: 100%;
    height: 100vh;
    display:flex;
    margin:0;
    width: 100%;
    flex-direction:column;
}

/*
    Header
*/

.header {
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headerContent {
    flex-direction: row;
    justify-content: space-between !important;
    display: flex;
}

.logo {
    font-family: "Sweet Sans Pro", system-ui;
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 15px;
    color: #0a0a0a;
}

.logo:hover {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .header {
        max-width: 500px;
        padding: 20px;
        margin: 10px auto;
        width: 100%;
        background-color: white;
        border-radius: 4px;
        border: 1px solid hsla(0deg, 0%, 100%, 0);
        zIndex: 1;
        display: block;
    }

    .headerContent {
        margin-top: 10px;
        display: grid;
    }
}


/*
    Body
*/

.card {
    max-width: 500px;
    padding: 20px;
    margin: 10px auto;
    width: 100%;
    background-color: white;
    border-radius: 4px;
    border: 1px solid hsla(0,0%,100%,0);
    zIndex: 1;
}

.cardTitle {
    font-family: "Inter";
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
    text-transform: none;
    font-weight: 600;
    color: #171717;
}

.cardSubtitle {
    color: #5c5c5c;
    padding-bottom: 20px;
}

.formItem {
    font-weight: bold;
}

.continueButton {
    width: 100% !important;
    textAlign: left !important;
    display: flex !important;
    margin-top: 35px !important;
    margin-bottom: 15px;
}

.checkBox {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*
    Footer
*/

.footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footerContainer {
    margin-top:auto;
}

@media screen and (max-width: 800px) {
    .footer {
        flex-direction: column;
        display: flex;
    }
    .footerItem {
        margin-bottom: 10px;
    }
}