.tilesContainer {
  position: relative;
  width: 100%;
  height: 100%;
  animation: tiles_view--fadeIn--1VUbx .4s ease-in-out;
  padding: 0;
  background-color: #ffffff;
  flex-grow: 1;
}

.tilesGrid {
  padding: 0 32px 32px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(272px,1fr));
  grid-gap: 32px 32px;
  user-select: none;
  width: 100%;
  box-sizing: border-box;
  flex-flow: row wrap;
  align-content: stretch;
  cursor: default;
}

.tileContentContainer {
  margin: 0;
  height: 59px;
  padding-top: 80%;
  display: flex;
  border-radius: 7.5px;
  position: relative;
  flex: 1 1 280px;
  align-self: flex-start;
  background-color: transparent;
  scroll-margin-top: 64px;
  scroll-margin-bottom: 24px;
}

.genericTile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: content-box;
  cursor: default;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
}

.tileTitleBorder {
  border-radius: 6px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  background-clip: padding-box;
  z-index: 1;
  border: 1px solid #e6e6e6;
  pointer-events: none;
}

.genericTileGridView {
  position: relative;
  flex-grow: 1;
}

.genericTileImage {
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 0;
  height: auto;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3QgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ii8+PHBhdGggZmlsbD0iI0YxRjFGMSIgZD0iTSAwIDggSCAxNiBWIDAgSCA4IFYgMTYgSCAwIi8+PC9zdmc+");
  display: flex;
  justify-content: center;
  align-items: stretch;
  text-decoration: none;
  overflow: hidden;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.genericTileLower {
  height: 56px;
  justify-content: space-between;
  align-items: stretch;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-right: 12px;
  display: flex;
  flex-direction: row;
}

.genericTileThumbnail {
  background-color: rgb(229, 229, 229);
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.tileIconContainer {
  width: 45px;
  height: 45px;
  padding-left: 20px;
  padding-right: 12px;
  padding-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tileIconContainer > svg {
  transform: scale(1.8);
}

.genericTileLowerContent {
  padding-left: 0;
  align-items: stretch;
  flex: 1 1 auto;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.genericTileLowerContentTitle {
  user-select: none;
  font-weight: 500;
  line-height: 20px;
  min-height: 20px;
  margin-top: 9px;
  color: #333333;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  letter-spacing: calc(-.003px + 0*13px);
}

.genericTileLowerContentSubtitle {
  display: flex;
  color: rgba(0, 0, 0, .5);
  justify-content: flex-start;
  padding-top: 1px;
  padding-bottom: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  min-width: 0px;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: calc(.005px + 0*11px);
}

.pageViewContent {
  margin-top: 10px;
}

.contentContainer {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.003px;
  width: 100%;
  opacity: 1;
  transition: opacity 0.15s ease;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  margin: 0px 0px 0;
  padding: 50px;
  background-color: rgb(245,245,247);
}

