.container {
  display: inline-block;
  width: -webkit-fill-available;
  padding-top: 10px;
}

.flex_container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.left_container {
  width: 30%;
  min-width: 200px;
  max-width: 350px;
  padding-right: 20px;
}

.left_container_content {
  width: 100%;
}

.right_content_container {
  width: -webkit-fill-available;
}

.projects {
  margin: 10px;
  width: 500px;
  min-height: 10px;
  border-radius: 13px;
  box-shadow:  0 0 8px rgba(0, 0, 0, 0.10);
  border-color: #E6E6E6;
  border-style: solid;
  border-width: 1px;
}

.projects_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  padding: 15px;
  font-size: 16px;
  border-bottom: 1px solid #E6E6E6;
}

.projects_title_item {
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
}

.projects_title_item.right {
  margin-left: auto;
}

.projects_content {
  background-color: whitesmoke;
  padding: 15px;
  border-bottom: 1px solid #E6E6E6;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}

.activity_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  padding: 15px;
  font-size: 14px;
  border-bottom: 1px solid #E6E6E6;
}

.activity_content {
  background-color: #FFFFFF;
  padding: 30px;
  border-bottom: 1px solid #E6E6E6;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}

.banner {
  width: 100%;
  padding: 20px 25px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: rgba(0,0,0,0.8);
  border-radius: 8px;
  background-color: rgba(56,144,249,0.1);
}

.PageViewContainer {
  padding-top: 96px;
  position: relative;
  padding-left: 241px;
  padding-bottom: 130px;
  color: var(--color-text, #333333);
  background-color: var(--color-bg, #fff);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  //height: 100vh;
}

@media (max-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (max-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (max-width:641px)  {
  .PageViewContainer {
    padding-left: 0;
    max-width: 100%;
  }

  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (max-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (max-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (max-width:1281px) { /* hi-res laptops and desktops */ }