$color-bg-toolbar: rgb(27,30,32);
$color-bg-toolbar-hover: #5A716A;
$color-conditionalborder: initial;
$color-text-toolbar-secondary: rgba(255, 255, 255, .7);
$color-border-toolbar: #444444;

// navbarContainer
.navbarContainer {
  display: flex;
  position: fixed;
  width: 100%;
  height: 48px;
  background-color: $color-bg-toolbar;
  border-bottom: 1px solid $color-conditionalborder;
  justify-content: space-between;
  top: 0;
  box-sizing: border-box;
  z-index: 2;
  padding-right: 12px;
  align-items: center;
}

.navbarContainer>div {
  display: flex;
  align-items: center;
}

.navbarContainer>div:last-child {
  padding-right: 12px;
  background-color: inherit;
}

// workspacename
.workSpaceName {
  width: 100%;
  overflow: hidden;

}

.workSpaceIcon {
  width: 32px;
  height: 32px;
  min-width: 32px;
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workSpaceNameTitleSmaller {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: calc(0*12px);
  color: #fff;
  -webkit-font-smoothing: subpixel-antialiased;
}

.workSpaceNameTitleSubtitle {
  box-sizing: border-box;
  display: flex;
  color: $color-text-toolbar-secondary;
  margin-top: -2px;
  text-align: left;
  font-size: 9px;
  line-height: 16px;
  letter-spacing: calc(.016px + 0*9px);
}

// navbarContentContainer
.navbarContentContainer {
  width: auto;
  height: auto;
}

.navbarContentContainer.leftNav {
  width: 241px;
  background-color: inherit;
}

.navbarContentContainer:hover {
  background-color: $color-bg-toolbar-hover;
}

.navbarContentContainer:focus-visible{
  outline: none;
}

.buttonUser {
  padding-left: 12px;
  padding-right: 8px;
  border: 1px solid transparent;
  outline: none;
  min-width: 48px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  position: relative;
}


.navbarContentContainer>child, .navbarContentContainer>button {
  width: 50%;
  margin: 0 auto;
}

.navbarContentContainerActive {
  background-color: $color-bg-toolbar-hover;
}

// navbarContent
.navbarContent {
  height: 48px;
  border: 1px solid transparent;
  outline: none;
  min-width: 48px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  position: relative;
}

.navbarContent.leftNav {
  flex-shrink: 1;
  flex-basis: 241px;
  box-sizing: border-box;
  border-right: 1px solid $color-border-toolbar;
}

.navbarContent svg path {
  fill: #ffffff !important;
}

.navbarContent svg {
  width: 18px;
  height: 18px;
}

.navbarContent > button {
  user-select: none;
}


.smallIconContainer > .small {
  width: 9px;
  height: 9px;
  margin-left: 8px;
}

.smallIconContainer {
  transition: padding-top .15s;
}

.smallIconContainer.leftNav {
  margin-left: 6px;
  margin-right: 15px;
}

.navbarContentContainer:hover .smallIconContainer {
  padding-top: 5px
}

// navbarSubContent
.dropdownIcon{
  margin-right: 19px;
  width: 15px !important;
}

.dropdownMenu {
  z-index: 3;
}

.dropdownMenuUsername {
  margin: 15px 10px;
  display: inline-flex;
}

.dropdownMenuUsernameIcon {
  margin-right: 15px;
  margin-left: 10px;
}
.dropdownMenuUsernameEmail {
  all: unset;
  font-size: 13px;
  line-height: 1;
  color: #ffffff;
  display: flex;
  align-items: center;
  height: 25px;
  position: relative;
  user-select: none;
  border-radius: 3px;
}

.dropdownMenuItem {
  width: 200px !important;
  padding-right: 20px !important;
}