.frame {
  display: block;       /* iframes are inline by default */
  background: #FFFFFF;
  border: none;         /* Reset default border */
  height: 100vh;        /* Viewport-relative units */
  width: 100%;
}