$color-border: #e6e6e6;;
$color-bg: rgba(255, 255, 255, 1);

.navDefault {
  position: fixed;
  top: 48px;
  left: 0;
  bottom: 0;
  width: 240px;
  box-sizing: border-box;
  box-shadow: 1px 0 0 0 $color-border;
  transition: left .2s ease-out;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.scrollContainer {
  flex: 1 1 auto;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  position: relative;
}

.scrollContainerWithOverscroll {
  overscroll-behavior: contain;
  width: 100%;
  height: 100%;
  max-height: inherit;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  scrollbar-width: none;
  -ms-overflow-style: none;
  touch-action: pan-y;
}

.innerScrollContainer {
  width: 100%;
  min-height: 100%;
}

.navContent {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  top: 8px;
  width: 240px;
  min-height: 100%;
  box-sizing: border-box;
  cursor: default;
}

.sidebarSection {
  border-top: none;
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 16px 0 8px;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: calc(.005px + 0*11px);
}

.sidebarSection:hover {
  background-color: #f0f0f0;
}

.sidebarIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
  color: currentColor;
  height: 32px;
  width: 32px;
  flex: 0 0 32px;
}

.sidebarIcon {
  width: 16px;
  height: 16px;
}

@media (max-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (max-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (max-width:641px)  {
  .navDefault {
    left: -241px;
    top: 96px;
  }

  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (max-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (max-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (max-width:1281px) { /* hi-res laptops and desktops */ }