.toolbarSpacerContainer {
  display: flex;
  flex: 0 0 auto;
  z-index: 3;
  top: 48px;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  background-color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 1px 0 0 #e5e5e5;
  padding-right: 20px;
  padding-left: 32px;
  position: fixed;
  left: 241px;
  right: 0;
  font-weight: 500;
  max-width: calc(100% - 200px);
  box-sizing: border-box;
  user-select: none;
}

.toolbarSpacerContainerMobile {
  position: fixed;
  top: 48px;
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0 16px;
  background-color: #fff;
  z-index: 3;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
  user-select: none;
}

.toolbarMobileLeft {
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  max-width: calc(100% - 32px);
  margin-left: -8px;
}

.toolbarMobileButtonMenu {
  position: relative;
  border-radius: 2px;
  background-clip: padding-box;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  flex: 0 0 32px;
  line-height: 32px;
  fill: var(--color-icon, #333333);
  color: var(--color-icon, #333333);
  box-sizing: border-box;
  border: 1px solid transparent;
}

.toolbarMobileButtonMenu:hover {
  background-color: #f5f5f5;;
  fill: #333333;
  color: #333333;
  border-radius: 3px;
}

.toolbarMobileTitle {
  padding-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (max-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (max-width:641px)  {
  .toolbarSpacerContainer {
    display: none;
  }

  .toolbarSpacerContainerMobile {
    display: flex;
  }

  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (max-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (max-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (max-width:1281px) { /* hi-res laptops and desktops */ }