html,
body {
  padding: 0;
  margin: 0;
  letter-spacing: -.2px;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

menu, ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.bold {
  font-weight: 500;
}

// Layout
* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
}

.row.center {
  justify-content: center;
  align-items: center;
}

[class ^="cl--"] { // Style all the "cl--*" classes
  justify-content: center;
  align-items: center;
}

[class ^="cl--"].center { // Style all the "cl--*" classes
  justify-content: center;
  align-items: center;
  text-align: center;
}

@for $i from 1 through 100 {
  .cl--#{$i} {
    flex: 0 1 1% * $i;
  }
}


/**
 * =========================================================================
 * +++++ ANT DESIGN OVERRIDE +++++++++++++++++++++++++++++++++++++++++++++++
 * =========================================================================
 */

// Buttons
.form_entry {
  width: 100% !important;
  padding: 15px !important;
  border-radius: 6px!important ;
  height: 52px !important;
  border: 1px solid rgba(0,0,0,.1) !important;
  transition: all 0s !important;
}

input[type="password" i] {
  width: 100% !important;
  padding: 15px !important;
  border-radius: 6px!important ;
  height: 52px !important;
  border: 1px solid rgba(0,0,0,.1) !important;
  transition: all 0s !important;
}


.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused {
  box-shadow: none !important;
}

.ant-input:focus {
  border-color: rgba(0,113,227,.8) !important;
  border-width: 2px !important;
  box-shadow: none !important;
  border-right-width: 2px !important;
  padding-right: 4px;
  outline: 0;
  transition: all 0s !important;
}

.ant-input-affix-wrapper {
  padding: 0px !important;
  border: 0px solid #d9d9d9 !important;
}

.ant-btn-primary {
  color: #fff;
  background: rgb(18,18,18) !important;
  border: 1px solid transparent !important;
  border-radius: 6px;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: .16px;
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  min-height: 3rem;
  margin: 0;
  padding: 20px;
  text-align: left;
  text-decoration: none;
  vertical-align: top;
  outline: none;
  cursor: pointer;
  transition: background 70ms cubic-bezier(0, 0, .38, .9), box-shadow 70ms cubic-bezier(0, 0, .38, .9), border-color 70ms cubic-bezier(0, 0, .38, .9), outline 70ms cubic-bezier(0, 0, .38, .9);
}

.ant-input-suffix {
  margin-left: -30px !important;
  cursor: pointer !important;
}

.register .ant-btn-primary {
  background: #4d6776 !important;
}

.register.primary .ant-btn-primary {
  background: #0f62fe !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #0a0a0a;
  border-color: #0a0a0a;
}

.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper, .ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
  background: #fff;
  border-color: rgb(185, 45, 38);
}

.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input, .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover {
  background: #fff;
  border-color: rgb(185, 45, 38);
}

.ant-form-item-explain-error {
  padding-top: 0.3rem;
  font-size: 0.7rem;
  color: #5a6872;
}

// Sidebar
.ant-layout-sider {
  margin: 8px 0px 8px 8px;
  padding: 5px 5px 5px 5px;
  position: relative;
  height: calc(100vh - 130px);
  background: #FFFFFF !important;
  transition: none;
  box-shadow: 0px 0px 4px rgb(17 24 39 / 10%) !important;
  border-radius: 8px;
}

.ant-layout-sider {
  transition: none;
}

.ant-layout-sider-collapsed > .ant-layout-sider-trigger {
  width: 70px !important;
}

.ant-layout-sider-trigger {
  margin-bottom: 8px;
  margin-left: -5px;
  background: #FFFFFF !important;
  box-shadow: 0 0px 4px rgb(17 24 39 / 10%) !important;
  z-index: 0 !important;
  border-radius: 8px;
}

.ant-layout-sider-children {
}

.ant-menu-item {
  gap: 10px;
}

.ant-menu-item .ant-menu-item-icon + span, .ant-menu-submenu-title .ant-menu-item-icon + span, .ant-menu-item .anticon + span, .ant-menu-submenu-title .anticon + span {
  margin-left: 10px;
  opacity: 1;
  transition: none !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  color: #4B5563;
  height: 40px;
  display: flex;
  padding: 0px 16px;
  transition: background 250ms ease-out;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: #F3F4F6;
}

.ant-menu li {
  transition: none !important;
}

.ant-menu li:hover {
  border-radius: 8px;
  background-color: rgba(225 225 225 / 30%) !important;
}

// Layout
.ant-layout-content {
}

.ant-layout {
  background-color: #FFFFFF;
}

.ant-layout.ant-layout-has-sider {
  flex-direction: row;
}

.ant-layout-sider-collapsed {
  width: 70px !important;
  flex: 0 0 70px !important;
  max-width: 70px !important;
  min-width: 70px !important;
}

.flex {
  display: flex;
}

// Typography
aside .ant-menu-item a {
  color: rgba(0, 0, 0, 0.85);
  font-family: 'Inter' !important;
  letter-spacing: 0.1px;
  color: #525252 !important;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.ant-menu-item .ant-menu-item-icon, .ant-menu-submenu-title .ant-menu-item-icon, .ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
  font-size: 16px;
  font-weight: bold;
  transition: none !important;
}

.c-gCMJnJ {
  margin-bottom: 0px !important;
}

.c-MGvMv {
  width: inherit !important;
}

// Components
.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
  border-right: none !important
}

.ant-menu-item-selected > .ant-menu-item-icon {
  color: mediumpurple;
}

// Buttons
.button1 {
  color: rgb(255, 255, 255);
  display: inline-block;
  border-radius: 10px;
  padding: 14px 24px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  border: 0px;
  cursor: pointer;
  user-select: none;
  transition: transform 200ms ease 0s, background 200ms ease 0s;
  text-align: center;
  background: rgb(85, 81, 255);
  outline: none;
}
