$color-tiles-default: rgb(244,244,244);

// Layout
.pageViewContent {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background-color: white;
}

.boxContentContainer {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.003px;
  max-width: 1500px;
  opacity: 1;
  transition: opacity 0.15s ease;
  -webkit-font-smoothing: antialiased;
  margin: 20px 32px 0px 32px;
  display: flex;
  justify-content: space-between;
}

.boxContainer {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

// Tiles
.box1_1 {
  background: $color-tiles-default;
  display: inline-flex;
  vertical-align: top;
  width: calc(33% - 5px);
  position: relative;
  justify-content: space-between;
  margin: 0px 20px 20px 0;
  height: 250px;
  border-radius: 0px;
  color: #fff;
  overflow: hidden;
  cursor: default;
  padding-left: 10px;
  padding-top: 5px;
}

.box1_2 {
  background: $color-tiles-default;
  margin-right: 0;
  display: inline-flex;
  vertical-align: top;
  width: calc(33% - 5px);
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  justify-content: space-between;
  height: 250px;
  border-radius: 0px;
  color: #fff;
  overflow: hidden;
  cursor: default;
  padding-left: 10px;
  padding-top: 5px;
}

.box1_3 {
  background: $color-tiles-default;
  margin-right: 0;
  display: inline-flex;
  vertical-align: top;
  width: calc(100% - 5px);
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  justify-content: space-between;
  height: 250px;
  border-radius: 0px;
  color: #fff;
  overflow: hidden;
  cursor: default;
  padding-left: 10px;
  padding-top: 5px;
}

.box1_1 > div {
  display: inline-block;
}

.box1_2 > div {
  display: inline-block;
}

.box1_title {
  font-size: 0.7rem;
  font-feature-settings: "zero";
  font-variant-numeric: slashed-zero;
  letter-spacing: 0.05em;
  line-height: 0.05em;
  text-transform: uppercase;
  color: #161616;
  margin-top: 10px;
  margin-bottom: 18px;
  height: 0px;
}

.box1_header {
  font-weight: 600;
  z-index: 1;
  color: #525252;
  display: flex;
}

.box1_content {
  display: inline-block;
}

.box1_description {
  font-feature-settings: "zero";
  font-variant-numeric: slashed-zero;
  letter-spacing: 0.05em;
  color: #525252;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 8px;
}

.box1_value {
  font-feature-settings: "zero";
  font-variant-numeric: slashed-zero;
  letter-spacing: 0.05em;
  color: #525252;
  margin-left: 5px;
  font-weight: normal;
  font-style: normal;
}

@media only screen and (max-width: 1040px) {
  .box1_1, .box1_2 {
    display: flex;
    vertical-align: top;
    width: 100%;
    height: 250px;
    margin: 20px 0;
  }

  .boxContentContainer {
    flex-direction: column;
  }
}
