@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter/Inter-Black.woff2') format('woff2'),
  url('../public/fonts/Inter/Inter-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter/Inter-ExtraBold.woff2') format('woff2'),
  url('../public/fonts/Inter/Inter-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter/Inter-Bold.woff2') format('woff2'),
  url('../public/fonts/Inter/Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter/Inter-Light.woff2') format('woff2'),
  url('../public/fonts/Inter/Inter-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter/Inter-ExtraLight.woff2') format('woff2'),
  url('../public/fonts/Inter/Inter-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter/Inter-Medium.woff2') format('woff2'),
  url('../public/fonts/Inter/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter/Inter-Regular.woff2') format('woff2'),
  url('../public/fonts/Inter/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter/Inter-SemiBold.woff2') format('woff2'),
  url('../public/fonts/Inter/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter/Inter-Thin.woff2') format('woff2'),
  url('../public/fonts/Inter/Inter-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sweet Sans Pro';
  src: url('../public/fonts/SweetSansPro/SweetSansPro-Bold.woff2') format('woff2'),
  url('../public/fonts/SweetSansPro/SweetSansPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


h1 {
  display: block;
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: 600;
  cursor: default;
  line-height: 60px;
  letter-spacing: calc(-.018px + var(--text-tracking-pos, 0)*22px);
}

h2 {
  display: block;
  font-size: 1.5em;
  margin: 0.83em 0;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin: 1em 0;
  font-weight: bold;
}
h4 {
  display: block;
  margin: 1.33em 0;
  font-weight: bold;
}
h5 {
  display: block;
  font-size: .83em;
  margin: 1.67em 0;
  font-weight: bold;
}
h6 {
  display: block;
  font-size: .67em;
  margin: 2.33em 0;
  font-weight: bold;
}

.xs--text {
  font-size: 12px;
}